#header {
    background-color:transparent;
    color:white;
    text-align:center;
    padding:15px;
   
}

body{
    background-image: url("imgs/ss.png");
    background-color:#ff9087;
    size:1000px,700px;
    margin:60px;
}

#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
    box-shadow: 10px 10px grey;
     -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: example1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example1 {
    from {background-color: orange;}
    to {background-color: purple;}
}

.myDIV4 {
    position:relative;
    width:40px;
    height:30px;
    background-color:#fff;
    left:0px;
    top:200px;
       animation-duration: 6s;
  animation-name: slidein;
}

.myDIV5 {
    position:relative;
    width:40px;
    height:30px;
    background:#ff09f5;
    left:200px;
    top:300px;
    animation-duration: 3s;
  animation-name: slidein;
}

.myDIV6 {
    position:relative;
    width:40px;
    height:30px;
    background:#f50045;
    left:400px;
    top:150px;
     animation-duration: 3s;
  animation-name: slidein;
}

@-webkit-keyframes slidein {
      from {
        margin-left:100%;
        width:300%
      }
      
      to {
        margin-left:0%;
        width:100%;
      }
}

.myDIV7 {
    position:absolute;
    width:45px;
    height:30px;
    background:#ffff98;
    left:600px;
    top:200px;
    animation-duration: 6s;
  animation-name: slidein;
}

.myDIV8 {
    position:absolute;
    width:40px;
    height:35px;
    background:#45ffff;
    left:800px;
    top:500px;
    animation-duration: 3s;
  animation-name: slideon;
}
@-webkit-keyframes slideon {
      from {
        margin-right:100%;
        width:200%
      }
      
      to {
        margin-right:0%;
        width:50%;
      }
}

div {
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.o {
    font-size:40px;
    text-shadow: 0 0 3px #0000ff, 0 0 5px #00ff00;
}

#aside{
    float:right;
     text-align:right;
     margin:30px;
     right:-60px;
}

.bord{
    clear:left;
}