
.relative {
    background-color: transparent;
    margin:30px 100px;
}

.rcorners1 {
    border-radius: 15px;
    background: #7BEE99;
    width: 200px;
    height: 50px;
    transition-timing-function: ease-in-out;

}

.rcorners1: hover {
    width:300px;
}

.goo{
    width:350px;
    float:right;
    margin:100px;
    padding:10px;
    clear:left;
}

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}

svg{
    display:inline;
    position:absolute;
    opacity: 0.5;

}
.after-svg{
    clear:left;
}
#aside{
      padding:35px;	
      float:right;
      text-align:right;
      background-color:black;
}

.container{
    margin:50px;
    size:300px 800px;
}