body {
    background-color: #aaf567;
}

h1{
    color: #c6c990;
    font-size:34px;
    font-family: courier;
    background-color:green;
    display: inline;
}

h2{
    color: #c6c574;
    font-size:34px;
    font-family: courier;
    background-color:orange;
    display: inline-block;
}

.container {
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 70px;
  /*width: 2060px;*/
}

div {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

div {
  border-radius: 15px;
}

.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 120px;
  background-color: white
  
  .relative {
  position: relative;
  height: 100px;
  float: left;
}
.absolute {
  position: absolute;
  top: 120px;
  right: 0;
  width: 300px;
  height: 200px;
}

nav {
  /*position: absolute;*/
  /*left: 0px;*/
  /*top:0px;*/
  float:left;
  width: 200px;
}

section {
  /* position is static by default */
  margin-left: 200px;
  float: left;
  margin: 10 3.5%;
  width:200px;
  /*width: 63%;*/
}

aside {
  float: right;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: white;
  width: 100%;
}
body {
  margin-bottom: 120px
  
div {
  border: 6px solid #949599;
  height: 100px;
  margin: 20px;
  padding: 20px;
  width: 400px;
}

div {
  background-color: #b2b2b2;
  background-color: rgba(0, 0, 0, .3);
}

.btn {
  font-size: 16px;
}
.btn-danger {
  background: red;
}
.btn-success {
  background: green;
}

.logo {
  border-top: 4px solid #648880;
  padding: 40px 0 22px 0;
  float: left;
}